:root {
  --clr-accent: #EA5136;
  --clr-dark: #14181B;
  --clr-light: #D9D9D9;
  --clr-white: #FFFFFF;


  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-largest: 3rem;

  --spacer: 1rem;
}

@media (min-width: 1200px) {
  :root {

    --fs-small: 1.25rem;
    --fs-medium: 2rem;
    --fs-large: 4rem;
    --fs-largest: 6rem;

    --spacer: 2rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--clr-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  z-index: 1;
}

h1,
h2,
h3,
p {
  margin: 0;

  /* margin-bottom: 0.5em; */
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--clr);
  text-decoration: none;
}

[class*="bg-"] {
  background-color: var(--bg-clr);
  color: var(--clr);
}

[class*="bg-"] .clr-title {
  color: var(--title);
}

[class*="bg-"] .clr-title-accent {
  color: var(--title-accent);
}

h1 {
  font-size: var(--fs-largest);
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-medium);
}

section {
  padding: var(--spacer) 0;
}

/* utility */

.bg-dark {
  --bg-clr: var(--clr-dark);
  --clr: var(--clr-light);
  --title: var(--clr-light);
  --title-accent: var(--clr-accent);
}

.bg-light {
  --bg-clr: var(--clr-light);
  --clr: var(--clr-dark);
  --title: var(--clr-dark);
  --title-accent: var(--clr-accent);
}

.bg-accent {
  --bg-clr: var(--clr-accent);
  --clr: var(--clr-light);
  --title: var(--clr-dark);
  --title-accent: var(--clr-dark);
}

.hover-light:hover {
  background-color: var(--clr-light);
  --clr: var(--clr-accent);
  transition: 0.3s;
}

.hover-accent:hover {
  background-color: var(--clr-accent);
  --clr: var(--clr-dark);
  transition: 0.3s;
}

.vspace>*+* {
  margin-top: var(--spacer);
}

.vspace-small>*+* {
  margin-top: calc(var(--spacer)*0.5);
}

.row {
  display: flex;
  flex-direction: column;
}

.row--gap {
  gap: var(--spacer);
}

.col {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .row {
    flex-direction: row;
  }

  .container {
    width: 80%;
  }
}

/* buttons */

.btn {
  display: inline-block;
}

/* hero */
.triangle-pattern {
  transform-origin: top;
  position: absolute;

  top: 0px;
  z-index: 0;

  right: 0;
  scale: 0.5;
  transform: scaleX(-1);
}

.pattern {
  display: flex;
  position: relative;
  min-height: 107px;
  /* 112px? */
}

.pattern :nth-child(2) {
  left: 25px;
}

.pattern :nth-child(3) {
  left: 100px;
}

.pattern :nth-child(4) {
  left: 175px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 87px solid var(--clr-light);
  opacity: 0.3;
  position: absolute;
}

.triangle--half-1 {
  border-left: 0;
}

.triangle--half-2 {
  border-right: 0;
}

.triangle--accent {
  border-bottom-color: var(--clr-accent);
}

.triangle--rotate {
  transform: rotate(180deg);
}


.hero {
  height: 90dvh;
  padding: 0;
}

.hero>* {
  height: 90dvh;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 90%;
}

.hero>.container {
  position: relative;
}

.hero .content h2 {
  font-weight: 100;
}

@media (min-width: 1200px) {
  .triangle-pattern {
    left: 0;
    right: auto;
    scale: 1;
    transform: scaleX(1);

  }

  .hero img {
    max-width: 40%;
  }

}

/* navigation */

#hamburger {
  display: none;
}

#hamburger+label {
  display: block;
  text-align: center;
  padding: 2em;
}

#hamburger:checked+label+.nav-list {
  display: none;
}

.navigation {
  min-height: 10dvh;
  padding: 0;
  padding-bottom: var(--spacer);
}

.primary-nav {
  white-space: nowrap;
}

.nav-list {
  margin: 0;
}

.nav-list a {
  display: inline-block;
  padding: 2em;
  width: 100%;
}

.nav-list-item {
  text-align: center;
}

.nav-list-item a:not([class]):hover {
  color: var(--clr-white);
}

.btn--contact-me {
  border: 1px solid transparent;
  border-radius: 100vh;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: 700;
}

.btn--contact-me:hover {
  border: 1px solid var(--clr-accent);
  transition: 0.3s;
}


@media (min-width: 1200px) {
  #hamburger+label {
    display: none;
  }

  #hamburger:checked+label+.nav-list {
    display: flex;
  }

  .primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .nav-list {
    display: flex;
  }

  .nav-list a {
    width: auto;
  }

  .btn--contact-me {
    position: absolute;
    right: 0;
  }
}

/* about me */

.aboutme {
  font-size: var(--fs-small);
}

.aboutme .content {
  font-weight: bold;
}

/* education */

.education {
  font-size: var(--fs-small);
}

.education .content {
  font-weight: bold;
}


/* projects */
.projects .card {
  border: 5px solid var(--clr-accent);
  border-radius: 1rem;
  padding: 1em;
  cursor: pointer;
}

.projects .card .card-title {
  display: flex;
  align-items: center;
  min-height: 0;
  color: var(--title-accent);
}

.projects .card>.row {
  justify-content: space-between;
}

.projects .card ul {
  margin: 0;
}

.projects .card .card-stars-text svg {
  fill: var(--clr-accent);
  display: inline;
  width: 1em;
}

.projects .card .card-time-text {
  text-align: left;
}

.projects .card hr {
  border-color: var(--clr);
}

.projects .card .content {
  font-weight: bold;
}

@media (min-width: 1200px) {

  .projects .card:hover {
    scale: 1.05;
    transition: 0.1s;
  }

  .projects .card .card-title {
    min-height: 3lh;
  }

  .projects .card .card-time-text {
    text-align: right;
  }

}