:root {
  --clr-accent: #EA5136;
  --clr-dark: #14181B;
  --clr-light: #D9D9D9;
  --clr-white: #FFFFFF;

  --fs-small: 1rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-largest: 3rem;

  --padding-1: 1rem;
}

@media (min-width: 1200px) {
  :root {
    --fs-small: 1rem;
    --fs-medium: 2rem;
    --fs-large: 4rem;
    --fs-largest: 6rem;
  }
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: var(--clr-dark);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  margin-bottom: 0.5em;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: var(--clr);
  text-decoration: none;
}


[class*="bg-"] {
  background-color: var(--bg-clr);
  color: var(--clr);
}

[class*="bg-"] .clr-title {
  color: var(--title);
}

[class*="bg-"] .clr-title-accent {
  color: var(--title-accent);
}

h1 {
  font-size: var(--fs-largest);
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-medium);
}

/* utility */

.bg-dark {
  --bg-clr: var(--clr-dark);
  --clr: var(--clr-light);
  --title: var(--clr-light);
  --title-accent: var(--clr-accent);
}

.bg-light {
  --bg-clr: var(--clr-light);
  --clr: var(--clr-dark);
  --title: var(--clr-dark);
  --title-accent: var(--clr-accent);
}

.bg-accent {
  --bg-clr: var(--clr-accent);
  --clr: var(--clr-light);
  --title: var(--clr-dark);
  --title-accent: var(--clr-dark);
}

.row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row--nogap {
  gap: 0rem;
}

section {
  padding: var(--padding-1) 0;
}

.hover-light:hover {
  background-color: var(--clr-light);
  --clr: var(--clr-accent);
  transition: 0.3s;
}

.hover-accent:hover {
  background-color: var(--clr-accent);
  --clr: var(--clr-dark);
  transition: 0.3s;
}

@media (min-width: 1200px) {
  .row {
    flex-direction: row;

  }
}

.col {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

#hamburger {
  display: none;
}

#hamburger+label {
  display: block;
  text-align: center;
  padding: 2rem;
}

#hamburger:checked+label+.nav-list {
  display: none;
}

/* navigation */
.navigation {
  min-height: 10dvh;
  padding: 0;
  padding-bottom: var(--padding-1);
}

.primary-nav {
  white-space: nowrap;
}

.nav-list {
  margin: 0;
}

.nav-list-item {
  text-align: center;

}

.nav-list a {
  display: inline-block;
  padding: 2rem;
}

.nav-list-item a:not([class]):hover {
  color: var(--clr-white);
}

.btn {
  display: inline-block;
}

.btn--contact-me {
  border: 1px solid transparent;
  border-radius: 100vh;
  color: var(--clr-accent);
  text-transform: uppercase;
  font-weight: 700;
}

.btn--contact-me:hover {
  border: 1px solid var(--clr-accent);
  transition: 0.3s;
}


@media (min-width: 1200px) {
  #hamburger+label {
    display: none;
  }

  .primary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  #hamburger:checked+label+.nav-list {
    display: flex;
  }

  .nav-list {
    display: flex;
  }

  .btn--contact-me {
    position: absolute;
    right: 0;
  }
}

/* hero */
.hero {
  height: 90dvh;
  padding: 0;
}

.hero>* {
  height: 90dvh;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}

.hero img {
  max-width: 100%;
}

.hero .content h2 {
  font-weight: 100;
}


@media (min-width: 1200px) {
  .hero>* {
    justify-content: center;
    align-items: end;
    padding: 10rem 0;
  }

  .hero img {
    max-width: 40%;
  }

}

.aboutme {}

.aboutme .content {
  font-weight: bold;
}

.aboutme .content hr {
  border-color: var(--clr);
}

@media (min-width: 1200px) {
  .aboutme .content {
    font-size: 1.5rem;
  }

}

.education {}

.projects {}


.projects .card ul {
  margin: 0;
}

.projects .card {
  border: 5px solid var(--clr-accent);
  border-radius: 1rem;
  padding: 1em;
}

.projects .card .card-title {
  display: flex;
  align-items: center;
  min-height: 0;
  color: var(--title-accent);
}


.projects .card>.row {
  justify-content: space-between;
}

.projects .card .card-stars-text {}

.projects .card .card-stars-text svg {
  fill: var(--clr-accent);
  display: inline;
  width: 1em;
}

.projects .card .card-time-text {
  text-align: left;
}

.projects .card hr {
  border-color: var(--clr);
  margin-bottom: 0.5em;
}

.projects .card .content {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .projects .card .card-title {
    min-height: 3lh;
  }

  .projects .card .card-time-text {
    text-align: right;
  }

}